@media (min-width: $desktop){
  .page{
    background-image: url("/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg");
    padding: 0 4rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__container{
      display: flex;
      flex-direction: row;
      gap: 3rem;
    }

    &__illustration , &__cta-button-wrapper{
      margin-bottom: 0;
    }

    &__right-desktop{
      margin-top: 3rem;
      flex: .83;
    }

    &__heading , &__description{
      text-align: left;
    }

    &__heading{
      font-size: 2.5rem;
    }

    &__description{
      margin-bottom: 1.5rem;
    }

    &__cta-button-wrapper{
      place-content: start;
    }

    &__footer{
      justify-content: flex-end;
      margin-top: 1rem;
    }

    // Hover Styles
    &__cta-button:hover{
        color: white;
        background-color: $soft-magenta;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.484);
    }

    &__social-links:hover{
      border: 2px solid $soft-magenta;
    }
  
    &__social-icon:hover{
      fill: $soft-magenta;
    }
  }
}