$desktop: 89.9375rem;

$violet:  hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

$ff-heading: 'Poppins', sans-serif;
$heading-regular: 400;
$heading-semi-bold: 600;

$ff-body: 'Open Sans', sans-serif;
$body-regular: 400;